.card{
    width: fit-content;
    border: 3px solid black;
    p{
        margin: .1vh 1vh 4vh .1vh; 
    }
}
.top{
    &-left{
        position: absolute;
        top: 0;
        left: 0;

    }
    &-right{
        position: absolute;
        top: 0;
        right: 0;
    }
}

.bottom{
    &-left{
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &-right{
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

  